<header>
  <div class="top center">

    <div class="col-sm-4">
      <%= link_to '#Business', class: "Editlink" do %>
        <br><br><p class="list">BUSINESS</p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <p class="title">Luxe Resorts</p>
    </div>

    <div class="col-sm-4">
      <%= link_to '#Contact',class: "Editlink" do %>
        <br><br><p class="list">CONTACT</p>
      <% end %>
    </div>

  </div>
</header>


<div class="text">
  <p>なんか入れる</p>
</div>


<div class="business", id="Business">
  <p>事業紹介</p>
</div>


<div class="contact", id="Contact">
  <p>問い合わせ</p>
</div>


<footer>
  <div class="center">
  	<div class="row">

      <div class="col-sm-4">
      	<%= link_to '#Business', class: "Editlink" do %>
          <br><br><p class="list2">BUSINESS</p>
        <% end %>
      </div>

      <div class="col-sm-4">
      	<span id="back">
      	  <a href="#">
      	    <%= link_to root_path,class: "Editlink" do %>
              <p class="title2">Luxe Resorts</p>
            <% end %>
          </a>
        </span>
      </div>

      <div class="col-sm-4">
        <%= link_to '#Contact',class: "Editlink" do %>
          <br><br><p class="list2">CONTACT</p>
        <% end %>
      </div>

    </div>
      <p class="address">大阪府大阪市北区天満2-8-17<br>天満橋パークビル4階</p>

  </div>
</footer>