<header>
  <div class="center">

    <div class="col-sm-4">
      <%= link_to '#Business', class: "Editlink" do %>
        <br><br><p class="list"><i class="fas fa-users"></i> BUSINESS</p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <p class="title">Luxe Resorts</p>
    </div>

    <div class="col-sm-4">
      <%= link_to '#Contact',class: "Editlink" do %>
        <br><br><p class="list"><i class="far fa-envelope"></i> CONTACT</p>
      <% end %>
    </div>

  </div>
</header>


  <div class="video">
    <%= video_tag("/videos/Laxe.mp4", autoplay: :true, muted: :true, loop: :true, class: 'video-content') %>
  </div>


<div class="text"><br><br>
  <p class="text-title">希望を配る人を輩出する。</p><br><br>
  <div class="text-text">
    <p>リーダーとは“希望を配る人”。<br><br>
      それは素晴らしい熱量を共有する。謙虚だが自信に溢れ、妥協がない。<br><br>
      常に最善をつくす、そして結果をだす。<br><br>
      何事にも感謝をする、苦難に負けず乗り越えていける。<br><br>
      人情に熱く思いやりがある。<br><br>
      様々な“希望を配る人”を輩出し、世の中に貢献できる人、会社でありたい。<br><br><br>
    </p>
  </div>
</div>


<div class="business", id="Business">
  <p>事業紹介</p>
</div>


<div class="contact center", id="Contact">

  <div class="contact-success">
      <% if flash[:success] %>
        <div class="thanks">
          <div class="alert alert-success">
            <%= flash[:success] %>
          </div>
        </div>
      <% end %>
    <div class="contact-head">
      <p class="contact-title">Contact</p>
    </div>
  </div>

  <div class="contact-form">

    <P class="contact-text">
      <br><br>ご依頼・お問い合わせは下記フォーマットにてご送信下さい。<br><br>
      お電話での対応も承ってますのでお気軽にお問い合わせ下さい。<br><br>
      電話番号：<a href="tel:0671822493">06-7182-2493</a>(平日10:00-18:00)
    </P>

  <div class="container"><br>
    <div class="col-sm-3">
    </div>

    <div class="col-sm-6">
    <%= form_with model:@contact, url: root_path do |f| %>
      <div>
  	    <%= f.text_field :name, placeholder: "担当者名", class:'form-control' %>
      </div><br><br>
      <div>
  	    <%= f.text_field :address, placeholder: "メールアドレス", class:'form-control' %>
      </div><br><br>
      <div>
  	    <%= f.text_area :body, placeholder: "お問い合わせ内容", class:'form-control', rows: 5%>
      </div><br><br>
    <div><%= f.submit '送信',class:"btn btn-lg", data: { confirm: "この内容で送信してよろしいですか？" }%></div>
    </div>
    <% end %>
  </div><br><br><br><br>

  </div>

</div>

<footer>
  <div class="center">
  	<div class="row">

      <div class="col-sm-4">
      	<%= link_to '#Business', class: "Editlink" do %>
          <br><br><p class="list2"><i class="fas fa-users"></i> BUSINESS</p>
        <% end %>
      </div>

      <div class="col-sm-4">
      	<span id="back">
      	  <a href="#">
      	    <%= link_to root_path,class: "Editlink" do %>
              <p class="title2">Luxe Resorts</p>
            <% end %>
          </a>
        </span>
      </div>

      <div class="col-sm-4">
        <%= link_to '#Contact',class: "Editlink" do %>
          <br><br><p class="list2"><i class="far fa-envelope"></i> CONTACT</p>
        <% end %>
      </div>

    </div>
      <p class="address">大阪府大阪市北区天満2-8-17<br>天満橋パークビル4階</p>

  </div>
</footer>

