<header>
  <div class="top center">

    <div class="col-sm-4">
      <%= link_to '#Business', class: "Editlink" do %>
        <br><br><p class="list"><i class="fas fa-users"></i> BUSINESS</p>
      <% end %>
    </div>

    <div class="col-sm-4">
      <p class="title">Luxe Resorts</p>
    </div>

    <div class="col-sm-4">
      <%= link_to '#Contact',class: "Editlink" do %>
        <br><br><p class="list"><i class="far fa-envelope"></i> CONTACT</p>
      <% end %>
    </div>

  </div>
</header>


<div class="text">
  <p>なんか入れる</p>
</div>


<div class="business", id="Business">
  <p>事業紹介</p>
</div>


<div class="contact center", id="Contact">

  <div class="contact-success">
      <% if flash[:success] %>
        <div class="thanks">
          <div class="alert alert-success">
            <%= flash[:success] %>
          </div>
        </div>
      <% end %>
    <div class="contact-head">
      <p class="contact-title"><i class="far fa-envelope"></i> Contact</p>
    </div>
  </div>

    <P class="contact-text">
      <br><br>ご依頼・お問い合わせは下記フォーマットにてご送信下さい。<br><br>
      お電話での対応も承ってますのでお気軽にお問い合わせ下さい。<br><br>
      電話番号：<a href="tel:0671822493">06-7182-2493</a>(平日10:00-18:00)
    </P>

  <div class="container"><hr><br>
    <div class="col-sm-3">
    </div>

  <div class="col-sm-6">
    <%= form_with model:@contact, url: root_path do |f| %>
      <div>
  	    <%= f.text_field :name, placeholder: "担当者名", class:'form-control' %>
      </div><br><br>
      <div>
  	    <%= f.text_field :address, placeholder: "メールアドレス", class:'form-control' %>
      </div><br><br>
      <div>
  	    <%= f.text_area :body, placeholder: "お問い合わせ内容", class:'form-control', rows: 5%>
      </div><br><br>
    <div><%= f.submit '送信',class:"btn btn-lg btn-primary", data: { confirm: "この内容で送信してよろしいですか？" }%></div><br><br>
      </div><br><br>
    <% end %>
  </div>


  </div>

</div>

<div class="container">
<hr><br><br>
</div>

<footer>
  <div class="center">
  	<div class="row">

      <div class="col-sm-4">
      	<%= link_to '#Business', class: "Editlink" do %>
          <br><br><p class="list2"><i class="fas fa-users"></i> BUSINESS</p>
        <% end %>
      </div>

      <div class="col-sm-4">
      	<span id="back">
      	  <a href="#">
      	    <%= link_to root_path,class: "Editlink" do %>
              <p class="title2">Luxe Resorts</p>
            <% end %>
          </a>
        </span>
      </div>

      <div class="col-sm-4">
        <%= link_to '#Contact',class: "Editlink" do %>
          <br><br><p class="list2"><i class="far fa-envelope"></i> CONTACT</p>
        <% end %>
      </div>

    </div>
      <p class="address">大阪府大阪市北区天満2-8-17<br>天満橋パークビル4階</p>

  </div>
</footer>