
<!-- ヘッダー　----------------------------------------------------------->

<div class="pc">
  <%= render 'template/top_header' %>
</div>

<div class="sp">
  <%= render 'template/sp_header' %>
</div>

<!-- 問い合わせありがとうメッセージ　----------------------------------------------------------->

<% if flash[:success] %>
  <div class="thanks">
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  </div>
<% end %>

<!-- pc用トップ　----------------------------------------------------------->

<div class="pc">

<div class="video">
  <%= video_tag("Luxe.mp4", autoplay: :true, muted: :true, loop: :true, class: 'video-content') %>
</div>

<div class="concept">
  <p class="title">「見方が変われば世界は変わる」</p>
  <p class="mission">Our Mission</p>
  <p class="text">日本国内のあらゆる宿泊施設のバリューを最大化すると共に、<br>宿泊されるユーザー様に安心・安全で楽しんで頂ける施設創りを我々は追求いたします。</p>
</div>

</div>


<!-- sp用トップ　----------------------------------------------------------->

<div class="sp">

<div class="box">
  <div class="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
  </div>
</div>

<div class="sp-top">
  <p class="title">「見方が変われば世界は変わる」</p><br><br>
  <p class="mission">Our Mission</p>
  <p class="text">日本国内のあらゆる宿泊施設のバリューを最大化すると共に、<br>宿泊されるユーザー様に安心・安全で<br>楽しんで頂ける施設創りを我々は追求いたします。</p>
</div>

</div>


<!-- ニュース　----------------------------------------------------------->

<div class="news"><br><br>
  <p class="title">News</p><br><br>

  <div class="container">

    <% @newss.each do |news| %>

    <div class="col-sm-4">
      <div class="content">
        <div class="day"><hr class="sp">
          <%= news.created_at.strftime('%Y/%m/%d')%><div class="sp"><br></div>
        </div><hr class="pc">
        <div>
          <%= simple_format(news.body) %>
        </div>
        <div class="rinku">
        <%= raw Rinku.auto_link(simple_format(news.url))%>
        </div>
      </div>
    </div>
    <% end %>

  </div>

  <div class="center"><br><br>
    <%= paginate @newss %>
  </div>

</div>


<!-- 社訓　----------------------------------------------------------->

<div class="motto"><div class="pc"><br><br><br></div>
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6"><div class="sp"><br></div>
    <p class="motto-title">Vision</p><br><br>
    <div class="motto-text">
      <p class="pc">
        2020年時点に日本全国の宿泊施設数は5.2万施設あり、<br><br>
        部屋数にすると162.5万室と言われています。<br><br>
        近年はコロナ禍において運営難の宿泊施設が数多く存在します。<br><br>
        この中でも特にインバウンド需要に頼り切った施設づくりを<br><br>
        行っている事で、
      </p>
      <p class="sp">
        2020年時点に日本全国の宿泊施設数は<br>
        5.2万施設あり、部屋数にすると<br>
        162.5万室と言われています。<br><br>
        近年はコロナ禍において運営難の<br>
        宿泊施設が数多く存在します。<br><br>
        この中でも特にインバウンド需要に<br>
        頼り切った施設づくりを行っている事で、
      </p>
    </div>
  </div>
</div>


<!-- サービス　----------------------------------------------------------->

<div class="service", id="Service">
  <p class="title">Service</p>

  <div class="list area">
    <div class="mask">
      <%= link_to areacontents_path do %>
      <div class="text">
        <div class="head">エリアコンテンツ<div class="sp"></div>KW分析</div><hr>
        <div class="explain">
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="list meo">
    <div class="mask">
      <%= link_to meo_path do %>
      <div class="text">
        <div class="head">MEO<span style="font-size:2rem;">(Map Engine Optimization)</span></div><hr>
        <div class="explain">
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="list site">
    <div class="mask">
      <%= link_to site_path do %>
      <div class="text">
        <div class="head">自社予約サイト制作</div><hr>
        <div class="explain">
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="list sns">
    <div class="mask">
      <%= link_to sns_path do %>
      <div class="text">
        <div class="head">SNS企画・運用</div><hr>
        <div class="explain">
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="list listing">
    <div class="mask">
      <%= link_to listing_path do %>
      <div class="text">
        <div class="head">リスティング広告<div class="sp"></div>運用</div><hr>
        <div class="explain">
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
          テキストテキストテキストテキスト<br>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>


<!-- 会社概要　----------------------------------------------------------->


<div class="company center", id="Company">
  <div class="title">Company</div>

  <div class="container">
    <div class="col-sm-6">
      <table class="table">
        <tr>
          <th class="col-xs-3"><p></p>社名</th>
          <td class="col-xs-9"><p></p>株式会社Luxe Resorts<p></p></td>
        </tr>
        <tr>
          <th><p></p>代表取締役</th>
          <td><p></p>末吉 力朗<p></p></td>
        </tr>
        <tr>
          <th><p></p>所在地</th>
          <td><p></p>大阪府大阪市北区天満2-8-17 天満橋パークビル4階<p></p></td>
        </tr>
        <tr>
          <th><p></p>電話番号</th>
          <td><p></p>06-7182-2493</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <tr>
          <th class="col-xs-3"><p></p>設立</th>
          <td class="col-xs-9"><p></p>0000年0月0日<p></p></td>
        </tr>
        <tr>
          <th><p></p>資本金</th>
          <td><p></p>000,000円<p></p></td>
        </tr>
        <tr>
          <th><p></p>従業員数</th>
          <td><p></p>00名<p></p></td>
        </tr>
        <tr>
          <th><p></p>事業内容</th>
          <td><p></p>テキストテキストテキストテキスト</td>
        </tr>
      </table>
    </div>
  </div>

</div>


<!-- 問い合わせ　----------------------------------------------------------->

<div class="contact center", id="Contact">

  <div class="title">Contact</div>

  <div class="form">

    <P class="text">
      ご依頼・お問い合わせは下記フォーマットにてご送信下さい。<br><br>
      お電話での対応も承ってますのでお気軽にお問い合わせ下さい。<br><br>
      電話番号：06-7182-2493(平日10:00-18:00)
    </P>

  <div class="container"><br><br>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-6">

    <%= form_with model:@contact, url: root_path do |f| %>

      <div>
  	    <%= f.text_field :name, placeholder: "ご担当者様", class:'form-control' %>
      </div><br><br><br>
      <div>
  	    <%= f.text_field :address, placeholder: "連絡先メールアドレス、または電話番号", class:'form-control' %>
      </div><br><br><br><br>
      <div>
  	    <%= f.text_area :body, placeholder: "お問い合わせ内容", class:'form-control', rows: 7%>
      </div><br><br><br><br>

      <div><%= f.submit '送信', class:"btn", data: { confirm: "この内容で送信してよろしいですか？" }%></div>

    <% end %>

    </div>

  </div>

  </div>


</div>


<!-- フッター　----------------------------------------------------------->

<div class="pc">
  <%= render 'template/top_footer' %>
</div>
