
<%= link_to destroy_admin_session_path, method: :delete do %>
  <p class="adminheader">Luxe Resorts</p>
<% end %>

<div class="center"><br><br>

  <h3>新規投稿</h3><br>

    <div class="container">
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

    <%= form_with model:@news, url: newss_index_path do |f| %>

      <h4><%= Date.current.strftime('%Y/%m/%d')%></h4>

      <div>
  	    <%= f.text_area :body, placeholder: "投稿内容(改行も反映されます)", class:'form-control', rows: 5, autofocus: true %>
      </div><br>

      <div>
        <%= f.text_field :url, placeholder: "URL(無くても投稿できます)", class:'form-control', rows: 5 %>
      </div><br>

      <div><%= f.submit '新規投稿',class:"btn btn-success"%></div><br>

    <% end %>

    </div>
    </div>
    <hr>
    </div>


  <h3>一覧確認・削除</h3><br><br><br><br><br><br>

    <div class="news">

    <div class="container">

      <% @newss.each do |news| %>

        <div class="col-sm-4">
          <div class="content">
            <div class="day">
              <%= news.created_at.strftime('%Y/%m/%d')%>
            </div><hr>
            <div>
              <%= simple_format(news.body) %>
            </div>
            <div class="rinku">
              <%= raw Rinku.auto_link(simple_format(news.url))%>
            </div>
            <div><%= link_to '削除', newss_path(news),class: 'btn btn-danger', method: :delete, data: { confirm: "この記事を削除してよろしいですか？" } %></div>
          </div>
        </div>

      <% end %>

    </div>

    </div>

    <div><br><br>
      <%= paginate @newss %>
    </div>

</div>
